/* Country History Graphs */
.data-center-row-headline {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0.75em 0 0 0;
  line-height: 1.25em;
  margin-top: 1rem;
  margin-bottom: auto;
}

.data-center-row {
  width: 100%;

  .data-center-row-headline + div {
      margin-top: 0.375rem;
  }

  .data-center-row-subtext {
      margin-top: 0.375rem;
      font-size: 0.85em;
      line-height: 0rem;
  }

  .data-center-row-box {
      margin: 0 auto;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      color: #fff;
      border-radius: 1rem;
  }
  &.data-center-wrap .data-center-row-box {
      border:1px solid white;
  }
}
